.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
/dist
/build
/*.egg-info
Dockerfile
*.db
.kubeconfig
.idea/
.vscode/
.envrc
.env.local

# Docker
docker-compose.override.yml

# Helm
*.tgz

# GitHub Actions
.github/

